@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Exa", sans-serif;
  background-color: #292b36;
  color: white;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

/*Custom react-toast Styles*/
.toastContainerCss {
  background-color: transparent;
  top: 4rem;
  right: 5.6rem;
}
.Toastify__toast-body, 
.Toastify__toast-icon svg,
.Toastify__toast-body div,
.Toastify__close-button svg {
  background-color: #121212;
  font-size: 0.9rem;
}

/* Nav Bar */
nav {
  border-bottom: 1px solid white;
  width: 90%;
  margin: 0 auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#title h1 {
  color: #1990ff;
}

.nav-content ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-content li {
  margin-left: 20px;
  position: relative;
}

.icon {
  position: relative;
  top: 2px;
}

.nav-link,
#title a {
  text-decoration: none;
}

/* Nav Link Animations */
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #1990ff;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

/*Inherits the background of the auth-background*/
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom, #292b36, rgba(62, 64, 75, 0.8)),
    url("./images/trees2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.register-form,
.register-content,
.login-content,
.login-form {
  background-color: inherit;
}
.register-form *, 
.register-content *, 
.login-form * , 
.login-content *,
.chat-container *{
  background: transparent;
}

/* Login and Register Page */
.auth-container {
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 90vh;
}
.register-content, 
.login-content {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-content {
  width: 40rem;
}

.register-content h1, 
.login-content h1 {
  font-weight: 100;
  font-size: xx-large;
}
.register-content p, 
.login-content p {
  color: grey;
  padding: 0 5px;
  font-weight: 100;
  font-size: medium;
}

/*Hr between content and sign in method*/
.auth-divider {
  display: flex;
  align-items: center;
  text-align: center;
}
.auth-divider::before,
.auth-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #1990ff;
}
.auth-divider p {
  color: white;
}
.auth-divider:not(:empty)::before {
  margin-right: .25em;
}
.auth-divider:not(:empty)::after {
  margin-left: .25em;
}

/* Google, GitHub, Microsoft Icons */
.auth-methods {
  height: 3rem;
  width: 100%;
  display: flex;
}
.auth-methods div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.icon-wrapper:nth-child(-n+2) {
  /*Line divider between icon*/
 border-right: 1px solid;
}

.auth-icon { 
  height: 2rem;
  width: 2rem;
}

/* Auth icon animations */
.icon-wrapper { 
  /*Keeps width from changing on hover*/
  width: 10rem;
  cursor: pointer;
}
.icon-container-google::after {
  content: "Google";
}
.icon-container-github::after {
  content : "GitHub"
}
.icon-container-microsoft::after {
  content : "Microsoft"
}
.icon-container-google::after, 
.icon-container-github::after,
.icon-container-microsoft::after {
  position: relative;
  bottom: 0;
  width: 0;
  height: 50px;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container-google:hover::after,
.icon-container-github:hover::after,
.icon-container-microsoft:hover::after {
  width: 50%;
  opacity: 1;
}

hr {
  height: 30rem;
}
.register-form, 
.login-form {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 28rem;
  width: 50%;
  background-color: rgba(62, 64, 75, 0.5);
  border-radius: 20px;
  padding: 2rem;
}
.register-form h1, 
.login-form h1 {
  font-weight: 100;
  font-size: xxx-large;
}
.register-group, 
.login-group {
  margin: 0 auto;
  width: 70%;
}

/*input animations for login and register*/
.auth-input {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #AAA;
}
.auth-input:focus+.underline {
  transform: scale(1);
}
.underline {
  position: relative;
  left: -1px;
  bottom: 1rem;
  background-color: #1990ff;
  display: inline-block;
  height: 2px;
  width: 100%;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/*Button underline for log in and register*/
.auth-btn {
  margin: 0 auto;
  width: 10%;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
}

.auth-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #1990ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.auth-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.add-pfp {
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.add-pfp p {
  font-size: x-small;
  color: #AAA
}
/* Add pfp icon*/
.add-pfp-icon {
  height: 2rem;
}