.chat-container {
    border-radius: 15px;
    display: flex;
    background-color: rgba(62, 64, 75, 0.7);
    text-align: center;
    width: 90%;
    margin: 20px auto;
    height: 90vh;
}

/*Sidebar*/
aside {
    width: 10rem;
    flex-grow: 1;
    background-color: rgba(41, 43, 54, 0.4) !important;
    border-radius: 15px 0 0 15px; 
}

/* Side Topbar Component */
.side-topbar {
    height: 4rem;
    width: 100%;
    border-radius: 15px 0 0 0;
}
.side-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.side-content h2 {
    display: flex;
    align-items: center;
}
.profile-img {
    margin-right: 1rem;
    vertical-align: middle;
    border-radius: 5rem;
    height: 2rem;
    width: 2rem;
}

.search-icon {
    vertical-align: middle;
    cursor: pointer;
}
/* Search Component */
.search {
    width: 80%; 
    margin: 0 auto;
}
.searched-container {
    margin-top: 0.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(93, 95, 108, 0.5);
    display: flex;
    cursor: pointer;
}
/* Animation for selecting a user in search component */
@keyframes fadeIn {
    from {
        border-color:transparent ;
    }
    to {
        border-color: #1990FF;
    }
}
@keyframes fadeOut {
    from {
        border-color: #1990FF ;
    }
    to {
        border-color: transparent;
    }
}
.user-selected {
    border: 0.1px solid transparent;
    animation: fadeIn 0.5s forwards;
}
.user-deselected {
    border: 0.1px solid transparent;
    animation: fadeOut 0.5s forwards;
}

.searched-user-info {
    text-align: start;
}
.searched-user-info p:nth-child(2) {
    font-size: xx-small;
    color: grey;
}
.loading {
    margin: 0 auto;
}

/* Selected Users Component (Part of Search Component) */
.selected-container {
    background-color: rgba(41, 43, 54, 1);
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.selected-users {
    width: 90%;
    padding: 10px;
    display: flex;
    font-size: x-small;
}
.selected-user {
    display: flex;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(93, 95, 108, 0.5);
    margin-right: 0.5rem;
}
.selected-user p {
    margin: auto 0 auto 0.2rem;
    flex-grow: 3;
}
.remove-icon {
    cursor: pointer;
    margin-right: 10rem; 
    margin: auto 0;
}
.send-icon {
    margin: auto;
    cursor: pointer;
}


/* Chats component */
.chats {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: start;
} 
.userChat {
    height: 3.5rem;
    background-color: rgb(93, 95, 108, 0.5);
    margin-top: 1rem;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    text-align: start;
    align-items: center;
}
.chat-info p:nth-child(2) {
    font-size: x-small;
    color: grey;
}

.img-container {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0 1rem 0 2rem;
}
.chat-img {
    vertical-align: middle;
    border-radius: 5rem;
    height: inherit;
    width: inherit;
}
.group-img {
    border-radius: 1rem;
    vertical-align: middle;
    height: 1.8rem;
    width: 1.8rem;
}
.group-img:nth-child(2) {
    position: relative;
    left: 0.4rem;
    bottom: 1.4rem;
}

main {
    flex-grow: 2;
}

.chat-topbar {
    height: 4rem;
    border-radius: 0 15px 0 0;
}
