.chat-container {
    border-radius: 15px;
    display: flex;
    background-color: rgba(62, 64, 75, 0.7);
    text-align: center;
    width: 90%;
    margin: 20px auto;
    height: 90vh;
}

aside {
    flex-grow: 1;
    background-color: rgba(41, 43, 54, 0.4) !important;
    border-radius: 15px 0 0 15px; 
}

/* SideTopbar*/
.side-topbar {
    height: 4rem;
    width: 100%;
    border-radius: 15px 0 0 0;
}
.side-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.side-content h2 {
    display: flex;
    align-items: center;
}
.profile-img {
    margin-right: 1rem;
    vertical-align: middle;
    border-radius: 5rem;
    height: 2rem;
    width: 2rem;
}
.search-icon {
    vertical-align: middle;
    cursor: pointer;
}
/* Search */
.search {
    width: 80%; 
    margin: 0 auto;
}

.searched-user {

}

main {
    flex-grow: 2;
}

.chat-topbar {
    height: 4rem;
    border-radius: 0 15px 0 0;
}
